<!-- TELA INICAIL -->
<div *ngIf='telaiCheck' class='centers'>
  <h1>Mentality</h1>
  <button type="button" class="btn btn-secondary btn-lg btn-block change" (click)="trocaDeTelaDoForum()">FÓRUM</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block change" (click)="trocaDeTelaDoComando()">COMANDOS
    VARIADOS</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block change" (click)="trocadeTelaPerfil()">PERFIL</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block change" (click)="deslogar()">Sair da conta</button>
</div>
